<h1>Management Portal Dashboard</h1>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                VCard Account
            </div>
            <div class="panel-body">
                There are currently <span class="badge">10000</span> registered VCard account
            </div>
        </div>
    </div>
</div>


